{% extends 'baseback.html.twig' %}

{% block sidebar %}
{% endblock %}
{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Traitement réclamations</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
              <!-- Table with stripped rows -->
              <div class="dataTable-top">
                
             
            </div>
                  <table class="table">
                    <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ reponse.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom Agent </th> <br>
                                <td>{{ reponse.nomAg }}</td>
                            </tr>
                            <tr>
                                <th>Prenom Agent</th> <br>
                                <td>{{ reponse.prenomAg }}</td>
                            </tr>
                            <tr>
                                <th>Traitement</th> <br>
                                <td>{{ reponse.traitement }}</td>
                            </tr>
                            </tbody>
                            
    </table>
    <center>
    <br>

                        <a class="btn btn-success" href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>
    <br>  
    <br>
                      {{ include('reponse/_delete_form.html.twig') }} 
    </center>
    <br>
    
    <a href="{{ path('app_reponse_index') }}"class="previous">&laquo;Back to list</a>


            </div>
          </div>

        </div>
      </div>

    </section>

  </main><!-- End #main -->
  

{% endblock %}
