



{{form_start(form,{'attr':{'novalidate': 'novalidate'}} )}}
<table>
<tr>
<td> {{ form_label(form.nom,"Nom")  }}
 </td>
<td>  {{ form_widget(form.nom) }}
</td>  
<td> {{ form_errors(form.nom) }}
</td>
</tr>

<tr>
<td> {{ form_label(form.prenom,"Prenom")  }}
 </td>
<td>  {{ form_widget(form.prenom) }}
</td>  
<td> {{ form_errors(form.prenom) }}
</td>
</tr>

<td>  {{ form_label(form.email,"Email") }}
</td>
<td> {{ form_widget(form.email)}}
 </td>
<td>  {{ form_errors(form.email) }}
</td>

</tr>
<tr>

<td>  {{ form_label(form.description,"Description") }}
</td>
<td> {{ form_widget(form.description)}}
 </td>
<td>  {{ form_errors(form.description) }}
</td>



<tr>

<td>  {{ form_label(form.type_rec,"type") }}
</td>
<td> {{ form_widget(form.type_rec)}}
 </td>
<td>  {{ form_errors(form.type_rec) }}
</td>

</tr>

</table>
<br>
<br>
    <button class="btn btn-success rounded-pill">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

