{% extends 'baseback.html.twig' %}

{% block title %}Expert index{% endblock %}

{% block body %}

<style>
  .container{
   max-width: 60%;
   margin-top: 5%;
}
</style>
<div class="container">
    <h1>Expert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expert in experts %}
            <tr>
                <td>{{ expert.id }}</td>
                <td>{{ expert.nom }}</td>
                <td>{{ expert.prenom }}</td>
                <td>{{ expert.cin }}</td>
                <td>
                    <a  class="btn btn-success" href="{{ path('app_expert_show', {'id': expert.id}) }}">Show</a>
                    <a class="btn btn-success"  href="{{ path('app_expert_edit', {'id': expert.id}) }}">Edit</a>
                    <a class="btn btn-danger"  href="{{ path('app_expert_delete', {'id': expert.id}) }}">Delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class=' btn btn-primary rounded-pill' href="{{ path('app_expert_new') }}">Create new</a>
    </div>
{% endblock %}
