{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Search</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% if experts is not empty %}
            <h2>Search results</h2>
            <ul>
                {% for experts in experts %}
                    <li><a href="{{ path('app_expert_show', { 'id': experts.id }) }}">{{ experts.nom }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}