{% extends 'base.html.twig' %}

{% block title %}Expert{% endblock %}

{% block body %}
    <h1>Expert</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ expert.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ expert.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ expert.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ expert.cin }}</td>
            </tr>
        </tbody>
    </table>

    <center><a class=' btn btn-primary rounded' href="{{ path('app_expert_index') }}">Back to list</a></center>

    {# <a class="btn btn-success" href="{{ path('app_expert_edit', {'id': expert.id}) }}">Edit</a> #}

    {# {{ include('expert/_delete_form.html.twig') }} #}
{% endblock %}
