{% extends 'base.html.twig' %}

{% block title %}Constat index
{% endblock %}


{% block body %}
	<h2>
		Recherche constat
		<h2>
			
				
			
			<h1>Tout les constats</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>

						<th>Id_client</th>
						<th>Id_véhicule</th>
						<th>Date</th>
						<th>Lieu</th>
						<th>Images</th>
					
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for constat in constats %}
						<tr>
							<td>{{ constat.id }}</td>

							<td>{{ constat.idClient }}</td>
							<td>{{ constat.idVehicule }}</td>
							<td>{{ constat.date ? constat.date|date('Y-m-d') : '' }}</td>
							<td>{{ constat.lieu }}</td>
							<td>{{constat.image}}</td>
						

							<td>
								<a class="btn btn-success" href="{{ path('app_constat_show', {'id': constat.id}) }}">show</a>
								<a class="btn btn-success" href="{{ path('app_constat_edit', {'id': constat.id}) }}">edit</a>
								{{ include('constat/_delete_form.html.twig') }}
								<a class="btn btn-success" href="{{ path('app_constat_consatp', {'id': constat.id}) }}">print</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
					<form action="{{ path('rech') }}" method="get">
                                <input type="text" name="q"  placeholder="Search...">
                                <button class="sr">Recherche
								{# <img src="{{ asset ('icons/search.png') }}" width="20" height="20"> #}
								</button>
                                    {# <style>
                                        .sr {
                                        background-color: #FFFFFF; /* Green */
                                        border: none;
                                        color: black;
                                        padding: 2px 6px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;
                                        margin: 4px 2px;
                                        cursor: pointer;
                                        border-radius: 10px;
                                        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
                                        }

                                        .sr:hover {
                                        background-color: #6A5ACD; /* Darker green */
                                        }

                                    </style> #}
                                <a href="{{ path('rech') }}" class="btn btn-secondary">Clear</a>
                            </form>
				</tbody>
			</table>

			<a class=' btn btn-primary rounded-pill' href="{{ path('app_constat_new') }}">Create new</a>
		{% endblock %}
