{% extends 'base2.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<div class="content">
		<div class="container-fluid">

			<div class="row">
				{% block profile %}
					<div
						class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Profile Sidebar -->
						<div class="profile-sidebar">
							<div class="widget-profile pro-widget-content">
								<div class="profile-info-widget">
									<a href="#" class="booking-doc-img">
										<img src="{{asset ('assets2/img/patients/patient.jpg')}} " alt="User Image">
									</a>
									<div class="profile-det-info">
										<h3>{{user.email}}</h3>
									
									</div>

								</div>
							</div>
						</div>
						{% if 'ROLE_PATIENT' in app.user.roles %}


							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li>
											<a href="doctor-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Tableau de bord</span>
											</a>
										</li>


										<li class="active">
											<a href="{{path ('user_profile')}}">
												<i class="fas fa-user-cog"></i>
												<span>Paramètres de profil</span>
											</a>
										</li>

										<li>
											<a href="doctor-change-password.html">
												<i class="fas fa-lock"></i>
												<span>Changer le mot de passe</span>
											</a>
										</li>
										<li>
											<a href="{{path ('app_logout')}}">
												<i class="fas fa-sign-out-alt"></i>
												<span>Se déconnecter</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						{% elseif 'ROLE_DOCTOR' in app.user.roles %}
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li>
											<a href="doctor-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Tableau de bord</span>
											</a>
										</li>
										<li>
											<a href="rendez-vous.html">
												<i class="fas fa-calendar-check"></i>
												<span>Rendez-vous</span>
											</a>
										</li>

										<li>
											<a href="Horaires.html">
												<i class="fas fa-hourglass-start"></i>
												<span>Calendrier des horaires</span>
											</a>
										</li>

										<li class="active">
											<a href="{{path ('user_profile')}}">
												<i class="fas fa-user-cog"></i>
												<span>Paramètres de profil</span>
											</a>
										</li>

										<li>
											<a href="doctor-change-password.html">
												<i class="fas fa-lock"></i>
												<span>Changer le mot de passe</span>
											</a>
										</li>
										<li>
											<a href="{{path ('app_logout')}}">
												<i class="fas fa-sign-out-alt"></i>
												<span>Se déconnecter</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						{% elseif 'ROLE_USER' in app.user.roles %}
							<div class="dashboard-widget">
								<nav class="dashboard-menu">
									<ul>
										<li>
											<a href="doctor-dashboard.html">
												<i class="fas fa-columns"></i>
												<span>Tableau de bord</span>
											</a>
										</li>


										<li class="active">
											<a href="{{path ('user_profile')}}">
												<i class="fas fa-user-cog"></i>
												<span>Paramètres de profil</span>
											</a>
										</li>

										<li>
											<a href="doctor-change-password.html">
												<i class="fas fa-lock"></i>
												<span>Changer le mot de passe</span>
											</a>
										</li>
										<li>
											<a href="{{path ('app_logout')}}">
												<i class="fas fa-sign-out-alt"></i>
												<span>Se déconnecter</span>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						{% endif %}
					</div>
					<!-- /Profile Sidebar -->

				</div>
			{% endblock %}

			<div
				class="col-md-7 col-lg-8 col-xl-9">

				<!-- Basic Information -->
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Basic Information</h4>
						<div class="row form-row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="change-avatar">
										<div class="profile-img">
											<img src="{{asset ('assets2/img/patients/patient.jpg')}} " alt="User Image">
										</div>
										
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														size of 2MB</small>
									</div>
								</div>
							</div>
						</div>
						{{ form_start(form,{'attr': {'novalidate':'novalidate'}}) }}
						<Form>
							<div class="col-md-6">
								<div class="form-group">
									<label>Email ID</label>
									{{ form_widget(form.email) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>nom</label>
									{{ form_widget(form.name) }}
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>prenom</label>
									{{ form_widget(form.lastname) }}
								</div>
							</div>
							

							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
							</div>


						</Form>
						{{form_end(form)}}


					</div>
				</div>
			</div>


		</div>
	</div>

</div></div>{% endblock %}
