{% extends 'baseM2.html.twig' %}
{% block body %}
    <h2>Welcome</h2>
    
    {{ form_start(f) }}
        {{ form_row(f.marque) }}
        {{ form_row(f.typevoiture) }}
        {{ form_row(f.matricule) }}
        {{ form_row(f.modele) }}
        {{ form_row(f.datefabrication) }}
        {{ form_row(f.typecarburant) }}
        {{ form_row(f.kilometrage) }}
        {{ form_row(f.etat) }}
        
        {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
        <div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(f.contrats.vars.prototype)|e('html_attr') }}">
            {% for row in f.contrats %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <strong> Contrat </strong>
                    </div>
                    <div class="panel-body">
                        {{ form_row(row.datedebut) }}
                        {{ form_row(row.datefin) }}
                        {{ form_row(row.prix) }}
                        {{ form_row(row.type) }}
                        {{ form_row(row.nomconducteur) }}
                        {{ form_row(row.prenomconducteur) }}
                        {{ form_row(row.cin) }}
                        {{ form_row(row.region) }}
                    </div>
                </div>
            {% endfor %}
        
        
        {{ form_row(f.save) }}

        </div> 
    {{ form_end(f) }}
{% endblock %}