{% extends 'baseback.html.twig' %}

{% block title %}L'ajout d'une facture{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">{% endblock %}
{% block body %}
<style>
.container{
   max-width: 60%;
   margin-top: 5%;
}
</style>
<div class="container">
<h2> Rechercher une Facture<h2>
<form method="POST">
<input type="text" name="nom_client">
<input type="submit" value="Recherche">
</form>  
<h2> Liste des Factures<h2>   
<table border="4" width="100%">
<tr>
 <th> ID </th>
 
 <th> quantite </th>
 <th> nom_piece</th>
 <th> nom_client</th>
 <th> id_client</th>
 <th> montant_facture</th>


</tr>
<tr>
{% for i in facture %}


<td>{{i.id}} </td>

<td>{{i.quantite}} </td>

<td>{{i.getNomPiece()}} </td>
<td>{{i.getNomClient()}} </td>
<td>{{i.getIdClient()}} </td>
<td>{{i.getMontantFacture()}} </td>


<td>  <a class="btn btn-success" href="{{path('modiffacture',{'id':i.id})}}"> Modifier </a>   </td>
<td>  <a class="btn  btn-danger" href="{{path('suppfacture',{'id':i.id})}}"> supprimer </a>   </td>


</tr>
{% endfor %}
</table>   </div>

{% endblock %}
{% block javascripts %}<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>{% endblock %}
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}